$lettercolorprenomics: rgb(0, 23, 93);
$backgcolorprenomics: rgb(72, 188, 162);
$standardfont: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

.buttonadd{
    font-family:$standardfont;
    border-radius: 8px;
    border-color:rgb(72, 188, 162);

}
.buttonadd:hover{
    background-color:rgb(72, 188, 162); /* Green */
    color: white;
}